.nav {
  list-style-type: none;
  color: black;
  font-size: 1.5em;
  ul {
    display: flex;
    li {
      margin: 0 10px;
      a {
        color: black;
        font-size: 1em;
        color: white;
        text-shadow: 0px -1px #A1A1A1;
        height: 100%;
        i {padding-top: 5px;}
      }
    }
  }
}

.show-all-artists {
  flex-wrap: wrap;
}

.artist-block {
  text-align: center;
  .card-card {
    max-height: 30em;
    min-height: 30em;
    .card-content {
      max-height: 30em;
      div {height: 25em;}
      i {width: 100%;}
    }
  }
}

.card-content div {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.all-votes {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.vote-block {
  margin: 10px;
  text-align: center;
  .card-card {
    min-height: 40vh;
    min-width: 25em;
    max-width: 25em;
    .card-content {
    }
  }
}

.img-block {
  position: relative;
  max-height: 15em;
  padding: 3%;
  width: 100%;
  overflow: hidden;
  div {
    overflow:hidden;
  }
  .med-img, .small-img {
    height: 100%;
    width: auto;
  }
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #ec407a;
  box-shadow: 0 1px 0 0 #ec407a;
}

.voted-text {
  height: 2em;
}
