@import 'variables';

.output-item {
  display: flex;
  justify-content: space-between;
  max-width: 550px;
  border-bottom: 1px dotted lightgray;
  border: 1px dotted lightgray;
  padding: 0 5px;
  .buttons {
    display: flex;
  }
  p {
    // min-width: 300px;
    word-wrap: break-word;
    margin-bottom: 0;
    sub {color: lightgray;}
  }
  button {
    height: 25px;
    margin: 19px 5px;
    border-radius: 5px;
    background: $button-color;
    border: 1px solid black;;
    outline: none;
    color: white;
    font-weight: 600;
    align-self: flex-start;
    cursor: pointer;
    &:hover {
      background: $button-color-hover;
    }
  }
  .todo-delete {
    background: $delete-button-color;
    &:hover {
      background: $delete-button-color-hover;
    }
  }
  &:nth-child(2n) {
    background: #FAF9F5;
  }
}
